<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.poetic.applepay"
        version="0.0.1">

  <name>Cordova Apple Pay</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/apple-pay.js" target="js/apple-pay.js"/>

  <js-module src="www/apple-pay.js" name="apple-pay">
    <clobbers target="window.ApplePay" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="apple-pay">
        <param name="ios-package" value="apple-pay" />
      </feature>
    </config-file>

    <header-file src="src/ios/apple-pay.h" target-dir="ApplePayPlugin"/>
    <source-file src="src/ios/apple-pay.m" target-dir="ApplePayHelloPlugin"/>
  </platform>

</plugin>
